.content {
	height: calc(100% - 50px);
	overflow: auto;
	scroll-behavior: smooth;
	padding-bottom: 15px;
}

#home {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;

	h1 {
		font-size: 14px;
		font-weight: normal;
		line-height: 40px;
		padding-left: 10px;
		color: #333;
		text-align: left;
	}

	.pickerBtn {
		width: 200px;
		height: 80px;
		border-radius: 10px;
		cursor: pointer;
		margin-bottom: 20px;
		box-shadow: rgba(0, 0, 0, 0.6) 0 2px 6px;
		transition: transform 0.2s ease;
		font-size: 30px;
		color: #fff;
		text-shadow: 0 1px #000, 1px 0 #000, -1px 0 #000, 0 -1px #000;

		&:hover {
			transform: scale(0.96);
			background-position: center right;
		}
	}

	.cannotPick {
		margin-bottom: 60px;
	}

	.copyGroup {
		width: 200px;
		border-radius: 10px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		padding: 10px 10px 5px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
}

.copy-item {
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 3px;
	border-radius: 4px;
	background-color: #fff;
	color: #ff6464;
	cursor: pointer;
	font-size: 14px;
	position: relative;
}

.tips {
	position: absolute;
	bottom: 26px;
	left: 50%;
	transform: translateX(-50%);
	padding: 3px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	color: #fff;
	white-space: nowrap;

	&::before {
		content: "";
		position: absolute;
		bottom: -6px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-width: 3px 4px;
		border-style: solid;
		border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
	}
}

.pickerBtn_bgColor1 {
	animation: bgColor1 15s linear alternate infinite;
}
.pickerBtn_bgColor2 {
	animation: bgColor2 15s linear alternate infinite;
}
.pickerBtn_bgColor3 {
	animation: bgColor3 15s linear alternate infinite;
}
.pickerBtn_bgColor4 {
	animation: bgColor4 15s linear alternate infinite;
}
.pickerBtn_bgColor5 {
	animation: bgColor5 15s linear alternate infinite;
}
.pickerBtn_bgColor6 {
	animation: bgColor6 15s linear alternate infinite;
}
.pickerBtn_bgColor7 {
	animation: bgColor7 15s linear alternate infinite;
}
.pickerBtn_bgColor8 {
	animation: bgColor8 15s linear alternate infinite;
}
.pickerBtn_bgColor9 {
	animation: bgColor9 15s linear alternate infinite;
}
.pickerBtn_bgColor10 {
	animation: bgColor10 15s linear alternate infinite;
}

@keyframes bgColor1 {
	0% {
		background-color: #ff7b89;
	}
	20% {
		background-color: #8a5082;
	}
	50% {
		background-color: #6f5f90;
	}
	75% {
		background-color: #758eb7;
	}
	100% {
		background-color: #a5cad2;
	}
}
@keyframes bgColor2 {
	0% {
		background-color: #36e3ce;
	}
	20% {
		background-color: #d0e6a5;
	}
	50% {
		background-color: #ffdd95;
	}
	75% {
		background-color: #fd9385;
	}
	100% {
		background-color: #ccabda;
	}
}
@keyframes bgColor3 {
	0% {
		background-color: #f3ccdb;
	}
	20% {
		background-color: #e5e5f3;
	}
	50% {
		background-color: #a8d1e1;
	}
	75% {
		background-color: #62a9c8;
	}
	100% {
		background-color: #147ebc;
	}
}
@keyframes bgColor4 {
	0% {
		background-color: #6ac7e5;
	}
	20% {
		background-color: #feb25d;
	}
	50% {
		background-color: #ffd154;
	}
	75% {
		background-color: #ff5685;
	}
	100% {
		background-color: #ffc4c8;
	}
}
@keyframes bgColor5 {
	0% {
		background-color: #faba96;
	}
	20% {
		background-color: #33539e;
	}
	50% {
		background-color: #f29c0f;
	}
	75% {
		background-color: #a567be;
	}
	100% {
		background-color: #e67c09;
	}
}
@keyframes bgColor6 {
	0% {
		background-color: #ce237f;
	}
	20% {
		background-color: #ec1c49;
	}
	50% {
		background-color: #f16841;
	}
	75% {
		background-color: #f5dc67;
	}
	100% {
		background-color: #2c9599;
	}
}
@keyframes bgColor7 {
	0% {
		background-color: #0162a7;
	}
	20% {
		background-color: #3e9fb2;
	}
	50% {
		background-color: #feb500;
	}
	75% {
		background-color: #cd9489;
	}
	100% {
		background-color: #b41d6c;
	}
}
@keyframes bgColor8 {
	0% {
		background-color: #ed4557;
	}
	20% {
		background-color: #b8010b;
	}
	50% {
		background-color: #d9569e;
	}
	75% {
		background-color: #2b1b2a;
	}
	100% {
		background-color: #fcbc52;
	}
}
@keyframes bgColor9 {
	0% {
		background-color: #3d6656;
	}
	20% {
		background-color: #253e33;
	}
	50% {
		background-color: #a52f09;
	}
	75% {
		background-color: #ff7e40;
	}
	100% {
		background-color: #ffbac6;
	}
}
@keyframes bgColor10 {
	0% {
		background-color: #fcf5ef;
	}
	20% {
		background-color: #fea735;
	}
	50% {
		background-color: #fe7235;
	}
	75% {
		background-color: #00c3ff;
	}
	100% {
		background-color: #0077ff;
	}
}
