.header {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: normal;
    color: #000;
    font-size: 16px;
  }

  i:before {
    font-size: 20px;
    cursor: pointer;
  }
}

#footer-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: rgba($color: #000000, $alpha: 0.06) 0px -2px 6px;
}