body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #000;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

button,
input {
  border: none;
  box-shadow: none;
  outline: none;
}

#root {
  width: 240px;
  height: 280px;
  background-color: #fff;
}
